 #light{
    border: 5px solid rgb(179, 179, 228)
 }
 
 body{
    background-color: white;
    color:black;
 }
 
 p {
     background-color: rgb(116, 37, 37);
     color: hotpink;
     padding: 10px;
 }

 h1{
   color:hotpink 
 }

 h3 {
     background-color: rgb(26, 53, 78);
     color: blueviolet;
     padding: 10px;
 }