 #light{
   background-color: rgb(255, 255, 255);
   color:rgb(200, 53, 97);

 p {
   background-color: rgb(227, 167, 167);
   color: rgb(81, 16, 48);
   padding: 10px;
 }

 .piglet{
   background-color:rgb(188, 119, 153);
   color:rgb(159, 70, 70);
   padding:30px;
 }

 h1{
    color: rgb(170, 114, 155);
 }

 h3 {
   background-color: rgb(255, 177, 208);
   color: rgb(239, 93, 217);
   padding: 10px;
 }
 button {
   border-color: rgb(222, 96, 192);
   border-width:5px;
 }
}