#dark{
    background-color: black;
}

p {
     background-color: rgb(227, 215, 215);
     color: rgb(81, 16, 48);
     padding: 10px;
 }

 .piglet{
    background-color:rgb(105, 126, 144);
    color:rgb(16, 73, 53);
    padding:30px;
 }

 h1{
    color: rgb(192, 225, 255);
 }

 h3 {
     background-color: rgb(169, 207, 242);
     color: rgb(41, 5, 75);
     padding: 10px;
 }