#dark{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 0, 234);
 
 
 p {
    background-color: rgb(90, 11, 72);
    color: rgb(255, 81, 252);
    padding: 10px;
 }

 .piglet{
    background-color:rgb(95, 37, 129);
    color:rgb(237, 154, 197);
    padding:30px;
 }

 h1{
   color:rgb(244, 156, 223) 
 }

 h3 {
   background-color: rgb(184, 59, 219);
   color: rgb(125, 42, 96);
   padding: 10px;
 }
 footer p {
   background-color: rgb(211, 149, 228);
   color: rgb(183, 61, 140);
   padding: 10px; 
 }
 button {
   border-color: rgb(164, 44, 201);
   border-width:5px;
 }
}